%template#gl-dropdown
  .gl-dropdown-container
    %input{ 'type': 'hidden', 'v-model': 'fieldModel', 'v-if': 'fieldName',
      'name': '{{ fieldName }}', 'id': '{{ fieldName }}' }
    .dropdown{ 'v-show': 'showDropdown' }
      %ul.items
        %slot{ name: 'header-item' }
        %slot{ name: 'item' }
        %li.item{ 'v-for': 'item in items', value: '{{ item[valueKey] }}', ':class': '{ "active": $index === selectedItemIndex }', '@click': 'clickCurrentItem($index)' }
          {{{ item[titleKey] }}}
        %slot{ name: 'footer-item' }
