.file-editor {
  #editor {
    border: none;
    border-radius: 0;
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .ace_gutter-cell {
    background-color: $background-color;
  }

  .cancel-btn {
    color: $editor-cancel-color;

    &:hover {
      color: $editor-cancel-color;
    }
  }

  .file-title {
    @extend .monospace;
    line-height: 35px;
    padding-top: 7px;
    padding-bottom: 0;
  }

  .editor-ref {
    background: $background-color;
    padding-right: $gl-padding;
    border-right: 1px solid $border-color;
    display: block;
    float: left;
    margin-right: 10px;
  }

  .editor-file-name {
    @extend .monospace;
    float: left;
    margin-right: 10px;
  }

  .new-file-name {
    display: inline-block;
    max-width: 450px;
    float: left;
    margin-bottom: 7px;

    @media (max-width: $screen-xs-min) {
      margin-bottom: 0;
    }
  }

  .file-buttons {
    @media (max-width: $screen-xs-min) {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 7px;

      .encoding-selector,
      .license-selector,
      .gitignore-selector,
      .gitlab-ci-yml-selector {
        margin: 7px 0 0;

        button {
          width: 100%;
        }
      }

      .soft-wrap-toggle {
        margin: 7px 0 0;
      }
    }
  }

  .select2 {
    float: right;
  }

  .encoding-selector,
  .soft-wrap-toggle,
  .license-selector,
  .gitignore-selector,
  .gitlab-ci-yml-selector {
    display: inline-block;
    vertical-align: top;
    font-family: $regular_font;
    margin-bottom: 7px;
  }

  .soft-wrap-toggle {
    margin-right: $btn-side-margin;

    .soft-wrap {
      display: block;
    }

    .no-wrap {
      display: none;
    }

    &.soft-wrap-active {
      .soft-wrap {
        display: none;
      }

      .no-wrap {
        display: block;
      }
    }
  }

  .gitignore-selector,
  .license-selector,
  .gitlab-ci-yml-selector {
    .dropdown {
      line-height: 21px;
    }

    .dropdown-menu-toggle {
      vertical-align: top;
      width: 220px;
    }
  }

  .gitlab-ci-yml-selector {
    .dropdown-menu-toggle {
      width: 250px;
    }
  }
}
