.explore-title {
  text-align: center;

  h3 {
    font-weight: normal;
    font-size: 30px;
  }
}

.explore-groups.landing {
  margin-top: 10px;

  .inner-content {
    padding: 0;

    p {
      margin: 7px 0 0;
      max-width: 480px;
      padding: 0 $gl-padding;

      @media (max-width: $screen-sm-min) {
        margin: 0 auto;
      }
    }
  }

  svg {
    width: 62px;
    height: 50px;
  }
}
