.emoji-menu
  = text_field_tag :emoji_search, "", class: "emoji-search search-input form-control", placeholder: "Search emoji"
  .emoji-menu-content
    - cache("emoji-menu-list") do
      - Gitlab::AwardEmoji.emoji_by_category.each do |category, emojis|
        %h5.emoji-menu-title
          = Gitlab::AwardEmoji::CATEGORIES[category]
        %ul.clearfix.emoji-menu-list
          - emojis.each do |emoji|
            %li.pull-left.text-center.emoji-menu-list-item
              %button.emoji-menu-btn.text-center.js-emoji-btn{ type: "button" }
                = raw Gitlab::Emoji.gl_emoji_tag(emoji["name"], sprite: true)
